:root {
   box-sizing: border-box; 
}

h1 {
    color: red;
    font-style: italic;
    background-color: honeydew;
}
h3 {
    color: saddlebrown;

}
h2 {
    color: blueviolet;
    
}
h4 {
    color: green;
}
h5{
    color: goldenrod;
}
nav {
background-color: lightpink;
}
p , li {
    color: darkred;
    font-style: oblique;
    font-weight: 500;
}
img {
    width: 400px;
    text-align: center;
}
.centerimg {
    width: 400px;
    margin: 0 auto;
}
#tcy {
    font-style: normal;
    margin: 20px;
    border: 2px solid green;
    padding: 15px;
    display: inline-block;
    width: 750px;
    font-style: bold;
    background-color: yellow;

}

#clogo {
        color: blue;
        font-style: normal;

    }
    em{
        font-weight: bolder;
        color: purple;
    }